.labelSearchBox {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.inputSearchBox {
  width: 250px;
  padding: 10px 5px;
  background-color: transparent;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #8372fe;
  outline: none;
  transition: box-shadow 200ms linear, border 200ms linear;
}

.inputSearchBox:hover {
  border: 1px solid #6254cd;
}

.inputSearchBox:focus {
  box-shadow: 0 0 5px #8372fe;
}
