.labelSearchBox {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.inputSearchBox {
  width: 250px;
  padding: 10px 5px;
  background-color: transparent;
  border-radius: 4px;
  width: 300px;
  border: 1px solid black;
}
