.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.span {
  font-size: 20px;
  font-weight: 500;
}

.field {
  padding: 5px;
  width: 300px;
  background-color: transparent;
  border: 1px solid rgb(168, 118, 225);
  border-radius: 5px;
  outline: none;
  transition: box-shadow 200ms linear, border 200ms linear;
}

.field:hover {
  border: 1px solid rgb(116, 43, 200);
}

.field:focus {
  box-shadow: 0 0 5px rgb(168, 118, 225);
}

.btn {
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(168, 118, 225);
  transition: background-color 200ms linear, border 200ms linear;
  margin-top: 10px;
}

.btn:hover {
  background-color: rgb(116, 43, 200);
  border: 1px solid black;
}
