.intro {
  display: flex;
  align-items: center;
  gap: 50px;
}

.introText {
  font-size: 20px;
  font-weight: 500;
}

.span {
  font-style: italic;
  font-size: 25px;
  color: #8372fe;
}

.btn {
  font-size: 20px;
  color: #8372fe;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 200ms linear, border 200ms linear,
    color 200ms linear;
  margin-top: 10px;
  border: 1px solid #8372fe;
}

.btn:hover {
  background-color: #8372fe;
  border: 1px solid black;
  color: aliceblue;
}

.joinText {
  font-size: 20px;
}
