.mainDiv {
  display: flex;
  border: 1px solid #8372fe;
  border-radius: 4px;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  margin-right: 70px;
}

.nameDiv {
  display: flex;
  align-items: center;
  gap: 8px;
}

.numberDiv {
  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteBtn {
  padding: 5px 10px;
  width: 70px;
  height: 40px;
  color: aliceblue;
  background-color: #8372fe;
  transition: background-color 200ms linear, border 200ms linear;
}

.deleteBtn:hover {
  background-color: #6254cd;
  border: 1px solid black;
}

.btnDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
