.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 15px;
}

.formLabel {
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.formInput {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 5px;
}

.formBtn {
  width: 150px;
  margin-top: 30px;
  text-align: center;
}

.formError {
  font-size: 12px;
  color: rgb(234, 46, 46);
}
