.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 15px;
  align-items: center;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.span {
  font-size: 20px;
  font-weight: 500;
}

.formInput {
  background-color: transparent;
  border: 1px solid #8372fe;
  border-radius: 4px;
  padding: 10px 5px;
  width: 300px;
  outline: none;
  transition: box-shadow 200ms linear, border 200ms linear;
}

.formInput:hover {
  border: 1px solid #6254cd;
}

.formInput:focus {
  box-shadow: 0 0 5px #8372fe;
}

.formBtn {
  width: 150px;
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
  background-color: #8372fe;
  transition: background-color 200ms linear, border 200ms linear;
  outline: none;
}

.formBtn:hover {
  background-color: #6254cd;
  border: 1px solid black;
}

.formError {
  font-size: 12px;
  color: rgb(234, 46, 46);
}
