.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  gap: 25px;
}

.email {
  font-size: 25px;
  color: #6254cd;
  font-style: italic;
}

.btn {
  font-size: 18px;
  color: aliceblue;
  background-color: #8372fe;
  transition: background-color 200ms linear, border 200ms linear;
}

.btn:hover {
  background-color: #6254cd;
  border: 1px solid black;
}
